doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 A form
    #container.col
      p.
        This form will insert CSRF token. Note that
        it is a different token every time you reload the page
      pre #{csrfToken}

      form(action="/process", method="POST")
        input(type="hidden", name="_csrf", value=`${csrfToken}`)

        p You name:
          input(type="text", name="name")
        button(type="submit") Submit
